name: Push Wiki to GitHub Wiki

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Git
        run: |
          git config --global user.email "${{ secrets.GITHUB_EMAIL }}"
          git config --global user.name "${{ secrets.GITHUB_USERNAME }}"

      - name: Push to Wiki
        run: |
          git remote remove origin || true
          git remote add origin https://${{ secrets.GITHUB_API_KEY }}@github.com/pslits/oai-pmh.wiki.git
          git push origin master
